version: "3.9"
services:
  db:
    image: postgres:16
    container_name: musicdb
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: musicdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
